.app {
    background-color: rgb(242, 244, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(127, 151, 179, 0.25);
    background-color: white;
    padding: 64px;
    max-width: 768px;
}

.mid-container {
    display: flex;
    align-items: center;
    gap: 64px;
    width: 100%;
    padding-top: 32px;

}

h3 {
    margin: 0;
    padding-bottom: 16px;
}

p {
    color: rgb(120, 130, 138);
    margin: 0;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 256px;
    width: 100%;
}

.storypoint-container {
    display: flex;
    flex-direction: column;
}


.storypoint-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 106, 255);
    border-radius: 100%;
    width: 128px;
    height: 128px;
}

.storypoint-number {
    font-size: 64px;
    color: white;
    
    
}